.signup .a-link {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: #1976d2;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-decoration-color: rgba(25, 118, 210, 0.4);
}
.signup .validate-error {
  margin: 0;
  margin-top: 6px;
  color: #bf1650;
  font-size: 15px;
}

.signup .validate-error::before {
  display: inline;
  content: "⚠ ";
}

.signup .custom-main {
  background-color: #ffffff !important;
  border-radius: 6px;
  max-width: 540px;
}

.signup .signup-title {
  font-family: "Euclid Circular A" !important;
  font-size: 1.7rem !important;
}